QWidget QPushButton, QMenuBar::item:selected, QMenu::item:selected{
    background-color:#FFAE42;
    /*background-color:#87ceeb;*/
}

/*QDateEdit::drop-down{
    border-color:#FFAE42;
}*/

QPushButton#palestraCheckFiltro:focus, QPushButton#piscinaCheckFiltro:focus, QPushButton#minorenne:focus, QPushButton#maggiorenne:focus, QPushButton#studente:focus{
background-color: green;
}
