QWidget QPushButton, QMenuBar::item:selected, QMenu::item:selected{
    background-color:#FFAE42;
    /*background-color:#87ceeb;*/
}

/*QDateEdit::drop-down{
    border-color:#FFAE42;
}*/

QPushButton#palestraCheckFiltro:focus, QPushButton#piscinaCheckFiltro:focus, QPushButton#checkfiltrominorenne:focus, QPushButton#checkfiltromaggiorenne:focus, QPushButton#checkfiltrostudente:focus,QPushButton#checkVip:focus,QPushButton#checkfiltrocorsopiscina:focus,QPushButton#checkfiltroschedapalestra:focus{
/*background-color: green;*/
/*background-color: #03c04a;*/
background-color: #3cb043;
}

QLabel#nomeClienteLabel,QLabel#cognomeClienteLabel,QLabel#codiceFClienteLabel,QLabel#LuogoDNLabel,QLabel#residenzaClienteLabel,QLabel#viaClienteLabel,QLabel#telefonoClienteLabel,QLabel#mailClienteLabel,QLabel#datadNClienteLabel,QLabel#studenteClienteLabel,QLabel#AbbonamentoPiscinaLabel,QLabel#nomeIstruttorePiscinaLabel,QLabel#corsoNuotoClienteLabel,QLabel#AbbonamentoPalestraLabel,QLabel#nomeIstruttorePalestraLabel,QLabel#schedaPalestraClienteLabel{
    padding-top:10px;
    padding-bottom:10px;
}
